<!-- views/partials/header.ejs -->
<header>
    <nav class="menu-header">
      <div class="logo-container">
        <a href="/pagina-inicial" class="logo-link">
          <img class="logo" src="/img/img_logo_referências/logo.png" alt="logo">
        </a>
      </div>
      <ul class="menu-list">
        <li><a href="/Redstone">Redstone</a></li>
        <li class="dropdown">
          <a href="/Minérios" class="dropbtn">Minérios ▼</a>
          <div class="dropdown-content">
            <a href="/Minérios/Ferro">Ferro</a>
            <a href="/Minérios/Ouro">Ouro</a>
            <a href="/Minérios/Esmeralda">Esmeralda</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="/Comida" class="dropbtn">Comida ▼</a>
          <div class="dropdown-content">
            <a href="/Comida/Carne-de-porco">Carne de porco</a>
            <a href="/Comida/Batata">Batata</a>
            <a href="/Comida/Frutas">Frutas</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="/Mob_farms" class="dropbtn">Mob-Farms ▼</a>
          <div class="dropdown-content">
            <a href="/Mob_farms/Overword">Overword</a>
            <a href="/Mob_farms/The-end">The end</a>
            <a href="/Mob_farms/Nether">Nether</a>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  