<!-- views/500.ejs -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Erro Interno | MineFarms</title>
    <link rel="stylesheet" href="/css/Main.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h2>500 - Erro Interno do Servidor</h2>
        <p><%= message %></p>
        <a href="/pagina-inicial">Voltar para Home</a>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
